@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


:root{
    --primary-color: #374151;
}

body{
    font-family: 'Architects Daughter', cursive;
    margin: 0px auto;
    overflow-y: hidden;
    width: 100%;
    color: white;
    background-image: url(images/dragon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    background-color: var(--primary-color);
    border-radius: 2rem;
}

.header-txt{
    text-align: center;
    padding: 1.5rem;
    font-size: xxx-large;
    margin: 0px auto;
}

.container{
    width: 800px;
    height: 18vh;
    margin: auto;
}

#input-txt{
    margin: 2rem 7.75rem;
}

.section{
    padding: 1.47rem;
    width: 550px;
    margin: auto;
    height: 0.9rem;
    font-weight: bold;
    
}

.container .section{
    margin:  2rem 7.75rem;
    height: 3rem;
    border: 1px solid black;
    width: auto;
    background-color: white;
}


.btn{
    width: 15rem;
    padding: 0%;
    height: 7vh;
    font-family: 'Gluten', cursive;
    background-color: var(--primary-color);
    font-size: large;
    border-color:whitesmoke;
    color:white;
}
.footer{
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-color);
    border-radius: 2rem;
}
.footer-txt{
 text-align: center;
 padding-top: 3.5rem ;
 
}

.output-txt{
    color: black;
}
